.btn{
    background-color: white;
    color: #5682a3;
}
.btn:hover {
    background: #5682a3;
}
a:hover{
    color: white;
}
/*=====Header=====*/

.navbar{
    background-color: #5682a3;
}

.navbar-brand{
    color: white;
}
.nav-link{
    color: white;
}
/*=====Section====*/
.section{
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #f8f9fa;
}
.button{
    margin:0px auto;
    padding-top: 50px;
}
.intro{
    padding-left: 20px;
    padding-bottom: 20px;
    color: #5682a3;
}
.intro1{
    color: #5682a3;
    text-align: center;
}
.intro2{
    color: #ccc;
    text-align: center;
}
.img-intro{
    height: 500px;
    background-image: url("../img/work1.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
/*====Footer====*/
.footer{
    padding-top: 100px;
    background-color: #f8f9fa;

}
.footer_col{
    width: 40%;
}
.footer_logo{
    font-size: 46px;
    font-weight: 700;
    color: #ccc;
}
.footer_text{
    margin-bottom: 30px;
    font-size: 15px;
    color: #999;
}
.footer_social_header{
    padding-bottom: 10px;

    font-size: 14px;
    color: black;
}
.footer_social_header b{
    font-size: 18px;
}
.footer_social_content{
    padding-top: 15px;
    margin-bottom: 30px;

    font-size: 20px;
    color: #999;
    font-style: italic;
    font-weight: 300;

}
.footer_social_content a{
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    margin-left: 10px;
}

/* copyright */

.copyright{
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    font-size: 14px;
}
.copyright span{
    color: red;
}