.vacancy-info {
    background-color: #5682a3;
    padding: 30px;
    margin-bottom: 10px;
    width: 600px;
}
.vacancy-info a {
    color: white;
}
.vacancy-info a:hover {
    text-decoration: none;
}
.vacancy-name {
    color: white;
}
.company-name {
    padding-top: 10px;
}
.city-name {
    color: white;
}
.caption {
    font-size: 20px;
    color: #5682a3;
}